/* Container for renderer (left) and tabs (right). */
.create model-viewer {
  width: 100vw;
  height: 100vh;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.editor-body-root {
  display: flex;
  flex: auto; /* Grows to fill space under header */
  height: 0;
}

.mvContainer {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

model-viewer-preview {
  height: 100%;
}

me-tabs {
  background-color: #202124; /* GOOGLE_GREY_900 */
  padding: 0;
  width: 360px;
  min-width: 360px;
  max-width: 360px;
}

me-tabs a {
  color: #dadcff; /* GOOGLE_GREY_300, but.. bluer */
}

me-tabbed-panel {
  max-height: calc(100vh - 105px);
  overflow-y: auto;
  display: block;
}
.privacy {
  color: #bdbdbd;
  padding: 5px 16px;
  position: absolute;
  bottom: 0;
  font-size: small;
  z-index: 0;
  background-color: rgba(32, 33, 36, 0.75);
}
@media only screen and (max-height: 600px) {
  .privacy {
    z-index: -1;
  }
}
.privacy-link {
  color: #bdbdbd;
}
