.dot {
  display: none;
}

.dim,
.buttonHotspot {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 1em;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  --min-hotspot-opacity: 0;
}
.buttonHotspot {
  background: rgb(255, 255, 255);
  border-radius: 32px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s ease 0s;
  width: 24px;
}
.HotspotAnnotation {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-size: 14px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 256px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
}
@media only screen and (max-width: 800px) {
  .dim {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 460px) {
  .buttonHotspot {
    height: 16px;
  }
}

.dimensionLineContainer {
  pointer-events: none;
  display: block;
}

.dimensionLine {
  /* stroke: #16a5e6; */
  stroke: #fff;
  stroke-width: 2;
  /* stroke-dasharray: 2; */
}

.hide {
  display: none;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}
